body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    top: 10px;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.alberser {
    max-width: 800px;

}

.soon h1 {
    font-size: 45px;
}

.main-footer {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-footer-socials {
    gap: 4rem;
    display: flex;
    justify-content: space-between;
}

.main-footer-socials i {
    font-size: 3.5rem;
}

.main-footer-options > *:hover {
    text-decoration: underline;
}

.main-footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}